* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/* nav bar ----------------------------------- */

header {
    width: 100%;
    position: absolute;
}

nav {
    display: flex;
    justify-content: space-between;
}

.menu {
    margin-top: 65px;
    margin-left: 65px;
}

.toggle-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
}

.toggle-button:hover {
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
}

.page-list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ED1B24;
    color: #fff;
    z-index: 9999;
    padding: 20px;
    overflow-y: hidden;
}

.page-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
  }

.page-list ul li a {
    color: #fff;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 22px;
    padding: 0px 10px;
}

.logo {
    margin-top: 19px;
    margin-right: 65px;
}

.logo img {
    width: 163px;
    height: 143px;
}
/* hero content ----------------------------------- */

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
}

.red-section {
    background: #ED1B24;
    box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.50);
    width: 33%;
}

.hero-img {
    width: 66%;
    background-image: url(../img/s1-hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: lightgray;
    /* background-position: -411px -28.918px;
    background-size: 161.952% 105.178%; */
}


/* red section ----------------------------------- */

.socials {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 66px;
    padding-top: 120px;
    margin-top: 20px;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: -16px;
}

.icons img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.line {
    width: 3px;
    height: 218px;
    background-color: #fff;
}

.main {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    z-index: 998;
    padding: 50px;
}

.hero-content h1 {
    color: #FFF;
    text-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.30);
    font-family: Roboto;
    font-size: 175px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero-content p {
    color: #FFE600;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 22px;
}

.hero-content a {
    width: 227px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #161616;
    box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.25);

    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#arrow-btn {
    font-size: 40px;
}

/* footer ----------------------------------- */


footer {
    padding: 120px;
    height: auto;
    width: 95%;
    margin: 0 auto;
}

.container.footer {
    background-color: #ED1B24;
    padding: 120px;
}

.footer-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer-content button {
    background-color: black;
    border-radius: 24px;
    padding: 16px;
    width: 200px;
    margin-top: 20px;
}

.footer-content a{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.footer-content h4 {
    margin-bottom: 12px;
}

/* trazim ------------------------------------------ */

.trazim {
    background-color: whitesmoke;
    padding: 174px 0px;
}

.section-heading {
    color: #000;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    text-align: center;
}

.container {
    margin: 0 auto;
    width: 1280px;
    max-width: 100%;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 30%;
    background-color: #fff;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}

.card.card-content p {
    color: black;
}

.card-content img {
    height: 70px;
    margin-bottom: 12px;
}

.separator {
    height: 5px;
    background-color: #ED1B24;
    width: 400px;
    max-width: 100%;
    margin: 20px auto 60px;
}

/* usluge ---------------------------------------- */

h4 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff
}

p {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff
}

.usluge{
    background-image: url(../img/nase-usluge-bgr-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 100vh;
}

.usluga {
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
    align-items: unset;
}

.bg {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 40px 20px;
    margin-bottom: 16px;
}

.card.bg img {
    height: 48px;
    width: 48px;
    object-fit: cover;
    margin-bottom: 12px;
}

.card.bg p {
    margin-top: 12px;
}